@use "_settings" as *;

#notice {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: darken($bgColor, 15%);
    padding: 1em 2em;
    border-radius: 7px;
    animation: 1s zoom-in ease-in-out;
    max-width: 400px;
    width: 99%;
    cursor: pointer;

    &.zoom-out {
        animation: 1s zoom-out ease-in-out;
    }

    #notice-title {
        font-size: 2em;
        text-align: center;
        font-weight: bold;
    }
    #notice-content {
        padding-top: 10px;
        font-size: 1.25em;
    }
}

@keyframes zoom-in {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes zoom-out {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}