#settings {
    input {
        background: transparent;
        border: none;
        border-bottom: 1px solid #000;
        font-size: 20px;
        text-align: right;
        position: relative;
        appearance: none;
        -webkit-appearance: none;
        margin: 0;
    
        &:focus {
            outline: none;
        }
    }

    .notice-content > div {
        display: flex;
        > * {
            flex: 1;
        }
    }
}