@keyframes transition1 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes transition2 {
    0% {
        transform: translateY(0vh);
    }
    100% {
        transform: translateY(100vh);
    }
}
@keyframes transition3 {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(0) rotate(360deg*3)
    }
}
@keyframes transition4 {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
@keyframes transition5 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes transition6 {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(10);
        opacity: 0;
    }
}

// generate classes for each transition (except #2)
@for $i from 1 through 6 {
    @if $i != 2 {
        .transition#{$i} {
            animation: 1.5s transition#{$i} ease-in-out forwards;
        }
    }
}